:root {
    --color-white: #ffff;
    --color-text-primary: #6F6E73;
    --color-text-secondary: #A1A1A5;
    --color-primary: #2AB0CD;
    --color-primary-hover: #31bcdb;
    --color-primary-focus: #2890a7;
    --color-red: red;
    --color-orange: orange;

    --color-border-primary: #DFE1E5;


    // sidebar colors
    --color-sidebar-background: #ffff;
    --color-navItem-hover: #F6F4FF;
    --color-navItem-selected: #685CFE;

    //loader background color
    --color-loader-background: rgba(176, 176, 176, 0.442);
}